In [96]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
import sklearn.linear_model

In [97]:
data=pd.read_csv('traintitanic.csv')

In [98]:
data=data.drop(["PassengerId","Fare","Ticket","Name","Cabin"],axis=1)

In [99]:
data=data.join(pd.get_dummies(data['Sex']))

In [100]:
data=data.drop(["Sex"],axis=1)
data=data.join(pd.get_dummies(data['Embarked']))
data=data.drop(["Embarked"],axis=1)

In [101]:
data=data.drop(['female'],axis=1)
data

     Survived  Pclass   Age  SibSp  Parch  male  C  Q  S
0           0       3  22.0      1      0     1  0  0  1
1           1       1  38.0      1      0     0  1  0  0
2           1       3  26.0      0      0     0  0  0  1
3           1       1  35.0      1      0     0  0  0  1
4           0       3  35.0      0      0     1  0  0  1
5           0       3   NaN      0      0     1  0  1  0
6           0       1  54.0      0      0     1  0  0  1
7           0       3   2.0      3      1     1  0  0  1
8           1       3  27.0      0      2     0  0  0  1
9           1       2  14.0      1      0     0  1  0  0
10          1       3   4.0      1      1     0  0  0  1
11          1       1  58.0      0      0     0  0  0  1
12          0       3  20.0      0      0     1  0  0  1
13          0       3  39.0      1      5     1  0  0  1
14          0       3  14.0      0      0     0  0  0  1
15          1       2  55.0      0      0     0  0  0  1
16          0       3   2.0      4      1     1  0  1  0
17          1       2   NaN      0      0     1  0  0  1
18          0       3  31.0      1      0     0  0  0  1
19          1       3   NaN      0      0     0  1  0  0
20          0       2  35.0      0      0     1  0  0  1
21          1       2  34.0      0      0     1  0  0  1
22          1       3  15.0      0      0     0  0  1  0
23          1       1  28.0      0      0     1  0  0  1
24          0       3   8.0      3      1     0  0  0  1
25          1       3  38.0      1      5     0  0  0  1
26          0       3   NaN      0      0     1  1  0  0
27          0       1  19.0      3      2     1  0  0  1
28          1       3   NaN      0      0     0  0  1  0
29          0       3   NaN      0      0     1  0  0  1
..        ...     ...   ...    ...    ...   ... .. .. ..
861         0       2  21.0      1      0     1  0  0  1
862         1       1  48.0      0      0     0  0  0  1
863         0       3   NaN      8      2     0  0  0  1
864         0       2  24.0      0      0     1  0  0  1
865         1       2  42.0      0      0     0  0  0  1
866         1       2  27.0      1      0     0  1  0  0
867         0       1  31.0      0      0     1  0  0  1
868         0       3   NaN      0      0     1  0  0  1
869         1       3   4.0      1      1     1  0  0  1
870         0       3  26.0      0      0     1  0  0  1
871         1       1  47.0      1      1     0  0  0  1
872         0       1  33.0      0      0     1  0  0  1
873         0       3  47.0      0      0     1  0  0  1
874         1       2  28.0      1      0     0  1  0  0
875         1       3  15.0      0      0     0  1  0  0
876         0       3  20.0      0      0     1  0  0  1
877         0       3  19.0      0      0     1  0  0  1
878         0       3   NaN      0      0     1  0  0  1
879         1       1  56.0      0      1     0  1  0  0
880         1       2  25.0      0      1     0  0  0  1
881         0       3  33.0      0      0     1  0  0  1
882         0       3  22.0      0      0     0  0  0  1
883         0       2  28.0      0      0     1  0  0  1
884         0       3  25.0      0      0     1  0  0  1
885         0       3  39.0      0      5     0  0  1  0
886         0       2  27.0      0      0     1  0  0  1
887         1       1  19.0      0      0     0  0  0  1
888         0       3   NaN      1      2     0  0  0  1
889         1       1  26.0      0      0     1  1  0  0
890         0       3  32.0      0      0     1  0  1  0

[891 rows x 9 columns]

In [102]:
data=data.dropna()
y=data["Survived"]
x=data.drop(['Survived'],axis=1)

In [103]:
reg=sklearn.linear_model.LogisticRegression()

In [104]:
reg.fit(x,y)
reg.score(x,y)

0.8011204481792717

In [92]:
test=pd.read_csv("test.csv")
test=test.drop(["PassengerId","Fare","Ticket","Name","Cabin",""],axis=1)
test=test.join(pd.get_dummies(test['Sex']))
test=test.drop(["Sex"],axis=1)
test=test.join(pd.get_dummies(test['Embarked']))
test=test.drop(["Embarked"],axis=1)
test=test.dropna()

In [94]:
y1=reg.predict(test)

In [80]:
x_train,x_test,y_train,y_test=sklearn.model_selection.train_test_split(x,y,test_size=0.4)

In [81]:
reg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [45]:
reg.score(x_train,y_train)

0.7967289719626168

In [46]:
kfold=sklearn.model_selection.KFold(n_splits=10,random_state=7)

In [47]:
modelCV=sklearn.linear_model.LogisticRegression()

In [50]:
results=sklearn.model_selection.cross_val_score(modelCV,x,y,cv=kfold,scoring='accuracy')

In [51]:
results.mean()

0.794131455399061